main {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}

.calculation {
    border: 1px solid black;
    background-color: rgb(185, 156, 202);
    padding: 20px;

}

h1, h2 {
    font-family: monospace;
}

button:hover {
    color:oldlace;
}

.input {
    border-radius: 40%;
    border: 5px solid black;
}

.button {
    border: 2px solid black;
    border-radius: 20%;
}